body {
    background-image: url(https://batmanprojekt.com/wp-content/uploads/2023/02/flash-andy-kubert.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    background-color: orange
}